---
import { siteInfo } from "../config/siteInfo";
import TabsLayout from "../layouts/TabsLayout.astro";
---

<TabsLayout {...siteInfo}>
    <template x-for="block in blocks.filter(b => b.href === currentMenu)" :key="block.id">
        <div class="relative">
            <template x-for="section in block.sections" :key="section.id">
                <div
                    x-data="{shown:false, scroll: 0}"
                    x-init="window.addEventListener('scroll', ()=> scroll = window.scrollY)"
                >
                    <!-- Header section -->
                    <header
                        x-cloak
                        x-show="section.type == 'header'"
                        x-intersect="shown=true"
                        class="relative flex flex-col w-full pt-32 pb-12 px-6 items-center transition-all duration-500"
                        :class="`${shown ? 'opacity-100' : 'opacity-0'}`"
                    >
                        <img
                            :src="section.bgCover"
                            :alt="section.title"
                            class="absolute w-full h-full inset-0 bg-linear-to-t mask-b-from-0% mask-b-to-60% object-cover"
                        />
                        <button
                            onclick="shareModal.showModal()"
                            class="absolute top-0 right-0 m-4 btn btn-primary btn-soft btn-circle"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-share2-icon lucide-share-2"
                                ><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle
                                    cx="18"
                                    cy="19"
                                    r="3"></circle><line x1="8.59" x2="15.42" y1="13.51" y2="17.49"></line><line
                                    x1="15.41"
                                    x2="8.59"
                                    y1="6.51"
                                    y2="10.49"></line></svg
                            >
                        </button>
                        <div
                            class="avatar z-10 indicator"
                            x-data="{openTip: true}"
                            x-init="setTimeout(()=>{
                            openTip = false
                            }, 2000)"
                        >
                            <div class="w-24 rounded-full">
                                <img
                                    :src="section.picture"
                                    :alt="'Profile picture' + section.title"
                                    width="100"
                                    height="100"
                                />
                            </div>
                        </div>
                        <div class="z-10 text-center mt-4 *:leading-4">
                            <h1 x-text="section.title" class="text-xl font-bold text-primary"></h1>
                            <p x-text="section.subtitle" class="text-sm mt-2 text-secondary/75"></p>
                        </div>
                    </header>

                    <!-- Links -->
                    <div
                        x-cloak
                        x-show="section.type == 'links'"
                        class="flex flex-col px-6 gap-2"
                        x-data="{shown:false}"
                    >
                        <template x-for="link in section.children">
                            <a
                                x-intersect="shown=true"
                                class="btn relative transition-all duration-500"
                                :target="link.external ? '_blank' : null"
                                :rel="link.external ? 'noopener noreferrer' : null"
                                :href="link.href"
                                :class="`${link.type} ${shown ? 'opacity-100' : 'opacity-0'}`"
                            >
                                <span x-html="link.icon"></span>
                                <span x-text="link.label" class="mx-2 me-auto"></span>
                            </a>
                        </template>
                    </div>

                    <!-- Footer -->
                    <div
                        x-cloak
                        x-show="section.type == 'footer'"
                        class="py-12 text-center mt-auto"
                        x-data="{shown:false}"
                    >
                        <div
                            class="transition-all duration-500"
                            x-intersect="shown=true"
                            :class="shown ? 'opacity-100' : 'opacity-0'"
                        >
                            <small x-text="section.title" class="text-base-content/75"></small>
                        </div>
                    </div>

                    <!-- header horizontal -->
                    <div
                        x-data="{shown:false}"
                        x-show="section.type == 'header-horizontal'"
                        class="fixed top-0 w-full z-10 max-w-md bg-base-200/75 backdrop-blur-xl"
                    >
                        <div
                            class="flex flex-row justify-between py-4 px-6 items-center transition-all duration-500"
                            x-intersect="shown=true"
                            :class="shown ? 'opacity-100' :'opacity-0'"
                        >
                            <a href="#">
                                <h1 x-text="section.title" class="font-bold text-xl text-primary"></h1>
                            </a>
                            <div class="flex gap-4 items-center">
                                <button
                                    onclick="shareModal.showModal()"
                                    class="top-0 right-0 btn btn-sm btn-primary btn-circle btn-soft"
                                    ><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-share2-icon lucide-share-2"
                                        ><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"
                                        ></circle><circle cx="18" cy="19" r="3"></circle><line
                                            x1="8.59"
                                            x2="15.42"
                                            y1="13.51"
                                            y2="17.49"></line><line x1="15.41" x2="8.59" y1="6.51" y2="10.49"
                                        ></line></svg
                                    >
                                </button>
                                <div class="dropdown dropdown-end">
                                    <div tabindex="-1" role="button" class="btn btn-ghost btn-circle">
                                        <span x-html="section?.dropdown?.icon"></span>
                                    </div>
                                    <ul
                                        tabindex="0"
                                        class="dropdown-content menu bg-base-100 w-48 shadow-xl rounded-box"
                                    >
                                        <li class="menu-title">Kategori Menu</li>
                                        <template x-for="menu in section?.dropdown?.children">
                                            <li>
                                                <a
                                                    x-bind:rel="menu.value ? 'noopener noreferrer' : null"
                                                    x-bind:href="`#${menu.value}`"
                                                    x-text="menu.label"></a>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- List menu -->
                    <div
                        x-cloak
                        x-show="section.type == 'list-grid'"
                        class="flex flex-col px-6 gap-12 py-24"
                        x-data="{shown:false}"
                    >
                        <template x-for="menu in section.children" x-key="menu.id">
                            <div
                                :id="menu.id"
                                x-intersect="shown = true"
                                class="flex flex-col gap-4 scroll-mt-24 transition-all duration-500"
                                :class="shown ? 'opacity-100' : 'opacity-0'"
                            >
                                <div class="mb-2">
                                    <h1 x-text="menu.title" class="text-md font-bold"></h1>
                                    <p x-text="menu.description" class="text-sm text-base-content/75"></p>
                                </div>
                                <template x-for="(menuImage, i) in menu.image">
                                    <figure>
                                        <img
                                            :src="menuImage"
                                            alt="`menu.title-${i}`"
                                            width="720"
                                            height="1280"
                                            class="w-full h-auto object-contain aspect-auto rounded-xl object-center shadow-[0_0_10px] shadow-secondary/25"
                                            loading="lazy"
                                        />
                                    </figure>
                                </template>
                            </div>
                        </template>
                    </div>

                    <!-- Scroll to top -->
                    <div x-show="section.type == 'fab'" class="fab bottom-24">
                        <a
                            x-show="scroll > 250"
                            class="btn btn-lg btn-circle btn-primary transition-all duration-500"
                            :href="section.href"
                            x-transition.opacity.duration.500ms
                        >
                            <span x-html="section.icon"></span>
                        </a>
                    </div>
                </div>
            </template>
        </div>
    </template>
    <!-- Modal shares -->
    <dialog id="shareModal" class="modal">
        <div class="modal-box">
            <div class="flex flex-col gap-2">
                <div class="text-xl font-bold mb-4 text-center">Ajak temanmu ke {siteInfo.name}</div>
                <template x-for="link in shareOptions">
                    <a
                        class="btn justify-start"
                        @click="link.onClick ? link.onClick() : null"
                        :class="link.type"
                        :target="link.external ? '_blank' : null"
                        :rel="link.external ? 'noopener noreferrer' : null"
                        :href="link.href ? link.href : null"
                    >
                        <span x-html="link.icon"></span>
                        <span x-text="link.label" :id="link.label"></span>
                    </a>
                </template>
                <button class="btn btn-circle btn-ghost btn-sm mx-auto mt-4" onclick="shareModal.close()"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-x-icon lucide-x"
                        ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
                    ></button
                >
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
</TabsLayout>
